TELEGRAM_TOKEN=
TRAVELPAYOUTS_TOKEN=
TRAVELPAYOUTS_MARKER=
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=flightbot
DATABASE_URL=postgresql+asyncpg://user:password@postgres:5432/flightbot
REDIS_URL=redis://redis:6379/0
